# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
bun.lockb
pnpm-lock.yaml

# Editor directories and files
.idea
dist
.vscode

# Misc
.DS_Store
.DS_Store?
._*
Thumbs.db
logs
*.log
.env
